<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="node_modules/aframe/build/aframe.js"></script>
  <script src="https://unpkg.com/aframe-event-set-component@^4.0.0/dist/aframe-event-set-component.min.js"></script>
  <title>Test aframe</title>
  <!-- teleport on pointers script -->
  <script src="js/aframetp.js"></script>
  <!-- ajax request rapsberry -->
  <script src="js/value.js"></script>
  <!-- color change light script -->
  <script src="js/rgbrotate.js"></script>

  <script src="js/light-map-geometry.js"></script>
</head>

<body>
  <a-scene stats>

    <!-- light effects -->

    <a-entity light="type: ambient; intensity: 0.1;"></a-entity>

    <!-- strokes/box lighteffect -->
    <a-entity id="ambient" light="type: spot; intensity: 50;  color: #fff;" position=" 1 3 -7" rotation="270 0 0 "></a-entity>

    <!-- camera pos,click -->
    <a-entity id="cam" position="7 0 -15">
      <a-camera data-aframe-default-camera>
        <a-cursor></a-cursor>
      </a-camera>
    </a-entity>


    <!-- teleport icons -->
    <a-entity position="7 0 -15" obj-model="obj: #icoon-obj; mtl: #icoon-mtl" block-teleport-1="" light-map-geometry="path:textures/text/iConeSurface_Color.png"></a-entity>

    <a-entity position="10 0 0" obj-model="obj: #icoon-obj; mtl: #icoon-mtl" block-teleport-2="" light-map-geometry="path:textures/text/iConeSurface_Color.png"></a-entity>

    <a-entity position="-5 0 0" obj-model="obj: #icoon-obj; mtl: #icoon-mtl" block-teleport-3="" light-map-geometry="path:textures/text/iConeSurface_Color.png"></a-entity>

    <a-entity position="-1.6 0 -7.2" obj-model="obj: #icoon-obj; mtl: #icoon-mtl" block-teleport-4=""
      light-map-geometry="path:textures/text/iConeSurface_Color.png"></a-entity>

    <a-entity position="-5 0 -15" obj-model="obj: #icoon-obj; mtl: #icoon-mtl" block-teleport-5="" light-map-geometry="path:textures/text/iConeSurface_Color.png"></a-entity>



    <!-- Raspberry pi counter  -->
    <a-entity id="count" position="-6.5 3.6 -11.5" rotation="0 90 0" text="value:; color: #898A8F; width: 14; align: right;"></a-entity>

    <!-- assets -->
    <a-assets>

      <!-- walls -->
      <a-asset-item id="walls-obj" src="obj/walls2.obj"></a-asset-item>
      <img id="wall_R" src="textures/text/wallsSurface_Color.png" />


      <!-- floor -->
      <a-asset-item id="floor-obj" src="obj/floor.obj"></a-asset-item>
      <img id="plane_R" src="textures/text/floor_1024x1024_Shadows.png" />

      <!-- box -->
      <a-asset-item id="box-obj" src="obj/Box4.obj"></a-asset-item>
      <a-asset-item id="box-mtl" src="obj/Box4.mtl"></a-asset-item>

      <!-- icoon model -->
      <a-asset-item id="icoon-obj" src="obj/Icoon.obj"></a-asset-item>
      <a-asset-item id="icoon-mtl" src="obj/Icoon.mtl"></a-asset-item>

      <!-- sky asset -->
      <img id="sky" src="textures/sky.jpg">
    </a-assets>

    <!-- set sky -->
    <a-sky src="#sky"></a-sky>


    <!-- setup floor -->
    <a-entity position="1 0 -10" obj-model="obj: #floor-obj;" material="roughness:1;roughnessMap:#plane_R"
      light-map-geometry="path:textures/text/floorSurface_Color.png"></a-entity>

    <!-- setup wall -->
    <a-entity position="1 0 -10" obj-model="obj: #walls-obj;" material="roughness:1;" light-map-geometry="path:textures/text/wallsSurface_Color4.png"></a-entity>

    <!-- setup box -->
    <a-entity position="1 0 -10" obj-model="obj: #box-obj" light-map-geometry="path:textures/text/box.png" material="opacity: 0.8; transparent: true"></a-entity>
  </a-scene>

  <script>
    var sceneEl = document.querySelector('a-scene');
    var entity = sceneEl.querySelector('#ambient');
    var count = sceneEl.querySelector('#count');
  </script>



</body>

</html>